@media (max-width: 500px) {
  .flex {
    display: flex;
    justify-content: center;
  }
  #one {
    padding-bottom: 2%;
  }
  .flexpic {
    display: flex;
    justify-content: space-between;
  }
  #two {
    padding: 2% 2%;
  }
  #three {
    padding: 1% 2%;
  }
  #four {
    padding: 0% 5%;
    padding-bottom: 5%;
  }
  #five {
    padding: 3%;
  }
  #six {
    padding: 0% 3%;
  }
  #seven {
    padding: 1%;
  }
  #eight {
    width: 45%;
  }
  #nine {
    width: 45%;
  }
  #ten {
    padding: 2%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #jamieBigHead {
    max-width: auto;
  }

  #jamieBigHead2 {
    min-width: 50%;
  }
  #jamieLittleHead {
    padding-top: 2%;
    padding-right: 1%;
    min-width: 44%;
  }
  #kikaR {
    padding-bottom: 2%;
    min-width: 30%;
  }
  #kikaL {
    padding-bottom: 2%;
    padding-right: 10%;
    min-width: 50%;
  }
  #alR {
    padding-bottom: 2%;

    min-width: 30%;
  }
  #alL {
    padding-bottom: 2%;
    padding-right: 10%;
    min-width: 60%;
  }
}
@media (min-width: 500px) {
  .flex {
    display: flex;
    justify-content: center;
  }
  #one {
    padding-bottom: 2%;
  }
  .flexpic {
    display: flex;
    justify-content: space-between;
  }
  #two {
    padding: 2% 2%;
  }
  #three {
    padding: 1% 2%;
  }
  #four {
    padding: 0% 5%;
    padding-bottom: 5%;
  }
  #five {
    padding: 3%;
  }
  #jamieLittleHead {
    padding-top: 2%;
    padding-right: 1%;
    min-width: 44%;
  }
  #kikaR {
    padding-bottom: 2%;
    min-width: 30%;
  }
  #kikaL {
    padding-bottom: 2%;
    padding-right: 30%;
    min-width: 50%;
  }
  #alR {
    padding-bottom: 2%;

    min-width: 30%;
  }
  #alL {
    padding-bottom: 2%;
    padding-right: 30%;
    min-width: 60%;
  }
}
