.leftButterCenter{
margin-left: 35%;
margin-right: 20px;
--color: white;
}
.Center{
    margin: 10px 20px;
}
.Centering{
text-align: center;
margin: 5% 20%;
}

.bertFace{
    width: 600px;
    height: 700px;
}
#buttons{
    --background: #1e2023;
    --color: #FD8223;
    --border-color: #1e2023;
}
#buttons:hover{
    --border-color: #FD8223;
}
#black{
    background-color: #1e2023;
}
