IonList {
  color: red;
}
.Background {
  --background: #c3bdbc;
}
.msg {
  --color: white;
  padding-top: 60px;
}
#space {
  padding: 4% 0%;
}

.insta {
  color: white;
}
.Center {
  flex-wrap: wrap;
  min-width: 1px;
  min-height: 1px;
  flex-grow: 1;
  align-content: center;
  flex-shrink: 2;
}
.Centering {
  display: flex;
  justify-content: center;
}
.homeBackground {
  --background: #ffffff;
}
.bertFace {
  padding-top: 10px;
  display: inline;
}

.imgButtons {
  display: flex;
  padding: 5%;
  width: 40;
}

body,
h1 {
  color: black;
}
#one {
  padding-bottom: 2%;
}
.flexIiem {
  display: flex;
  justify-content: center;
}
.flex {
  display: flex;
  justify-content: center;
}

#fineart {
  --background: #725f59;
}
#arcitecture {
  --background: #151b1a;
  --color: #fd8302;
}

#white {
  color: white;
}
#wrap {
  flex-wrap: wrap;
  justify-content: space-around;
}
#topRow {
  margin: 10px 50px;
}
#white {
  color: white;
}
#jamieBigHead {
  max-width: auto;
}

#jamieBigHead2 {
  min-width: 50%;
}
#jamieLittleHead {
  padding-top: 2%;
  min-width: 44%;
}

.cards {
  max-width: 22%;
  max-height: 22%;
  min-width: 350px;
}
#buttons-insta {
  color: #1e2023;
  position: absolute;
  left: -999999px;
}
#buttons {
  color: #1e2023;
  position: absolute;
  left: -999999px;
}
.logo {
  position: absolute;
  left: -999999px;
  opacity: 0;
}
.wide {
  max-width: 22%;
  max-height: 22%;
  min-width: 350px;
}

@media (min-width: 500px) {
  .List {
    padding-top: 60px;
  }
  #small {
    position: absolute;
    left: -999999px;
    opacity: 0;
  }
  .insta {
    font-size: 16px;
    color: white;
  }
  .flex {
    display: flex;
    justify-content: center;
    padding-top: 80px;
  }
  .cards {
    max-width: 22%;
    max-height: 22%;
  }
  #smallCard {
    max-height: 300px;
  }
  .wide {
    min-width: 25%;
    max-height: 300px;
  }
}
