.header {
  display: flex;
  flex-shrink: initial;
  justify-content: center;
}
IonIcon {
  color: red;
}
.Center {
  flex-wrap: wrap;
  min-width: 1px;
  min-height: 1px;
  flex-grow: 1;
  align-content: center;
  flex-shrink: 2;
}
.Centering {
  display: flex;
  justify-content: center;
}

.bertFace {
  width: 50%;
}
.imgButtons {
  display: flex;
  padding: 5%;
  width: 40;
}
#buttons {
  --background: #1e2023;
  --color: #ffffff;
  --border-color: #1e2023;
}
#buttons:hover {
  --border-color: #fd8223;
}
#black {
  background-color: #1e2023;
}
body,
h1 {
  color: black;
}
#one {
  padding: 2% 0;
}

.flex {
  display: flex;
  justify-content: center;
}
.flexpic {
  display: flex;
  justify-content: space-between;
}
#two {
  padding: 2% 1%;
}
#three {
  padding: 1% 2%;
}
#four {
  padding: 0% 5%;
  padding-bottom: 5%;
}
#five {
  padding: 3%;
}
#six {
  padding: 0% 3%;
}
#seven {
  padding: 1%;
}
#eight {
  width: 45%;
}
#nine {
  width: 45%;
}
#ten {
  padding: 2%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#tenn {
  padding: 2% 10%;
}
#tennn {
  padding: 2% 2% 2% 3%;
}
#fineart {
  --background: #725f59;
}
#arcitecture {
  --background: #151b1a;
  --color: #fd8302;
}
.cards {
  max-width: 22%;
  max-height: 22%;
  min-width: 350px;
}
#white {
  color: white;
}
#wrap {
  flex-wrap: wrap;
  justify-content: space-around;
}
.insta {
  color: #1e2023;
  width: 100px;
}
.logo {
  width: 100px;
  z-index: 2;
}
