.bgimg {
  /* Background image */
  background-image: url('https://cdn.discordapp.com/attachments/730010772251607132/730011020633833552/unknown.png');
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: 'Courier New', Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}
.middle {
  padding-left: 40%;
  padding-top: 20%;
  position: relative;
  color: white;
  font-size: 44px;
}
IonContent {
  --background: red;
}
.flex {
  display: flex;
}
#fa1 {
  padding-bottom: 1%;
}
#fa2 {
  padding: 1% 1%;
  width: 70%;
}
#fa3 {
  padding: 1% 1%;
  width: 75%;
}
#fa4 {
  padding: 2% 1% 0% 1%;
}
#fa5 {
  padding: 0% 1% 0% 1%;
  height: 80%;
  width: 50%;
}
#fa6 {
  padding: 2% 1% 0% 1%;
}
#fa7 {
  padding-top: 1px;
  padding-left: 24%;
  padding-right: 24%;
  margin-bottom: 10px;
}
#fa8 {
  padding-right: 1%;
}
#fa9 {
  padding-left: 1%;
}

#fad2 {
  padding: 2% 2%;
  flex-wrap: wrap;
  flex-direction: row;
}
#fad1 {
  flex-wrap: wrap;
}
#fad3 {
  display: flex;
}
