.center {
  display: grid;
  place-items: center;
}
.mainLogo {
  width: 4%;
}
.success {
  --color: white;
}
.home {
  --color: white;
  --background: #3e4d44;
}
.hire {
  --color: white;
  --background: #725f59;
}
.works {
  --background: #596f72;
  --color: white;
}
.prints {
  --background: #6c1313;
  --color: white;
}
.portraitsH {
  --background: #1c2222;
  --color: white;
}
.portraits {
  --background: #828282;
  --color: white;
}
.Architecture {
  --color: #fd8302;
  --background: #1c2222;
}
.Travel {
  --background: #725f59;
  --color: white;
}
.fineart {
  --background: #c3bdbc;
}
.fineartH {
  --color: white;
  --background: #725f59;
}
#al {
  padding: 2% 1%;
}
@media (min-width: 500px) {
  .center {
    display: flex;
    justify-content: center;
    flex-grow: 0;
  }
  .IonHeader {
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 100px;
  }
}
